*{
    margin: 0;
    padding: 0;
    
}
body{
    background: #1A1F29;
}



@font-face {
    font-family: myFirstFont;
    src:url("AerologicaRegular-K7day.ttf");
}

@font-face {
    font-family: retro1;
    src: url("ConnectionIi-2wj8.otf");
}

@font-face {
    font-family: retro2;
    src: url("ConnectionIii-Rj3W.otf");
}

.titlebar{
    font-family: myFirstFont;
    font-size: 1vw;
    transform: rotate(-90deg);
    left: 0;
    position: absolute;
    bottom: 0;
    letter-spacing: 2px;
  text-transform: uppercase;
  transform-origin: 0 0;
  color: whitesmoke;
  margin-left: 15px;
  margin-bottom: 0;
}

.workspace{
    height: calc(100vh - 10px);
    left: 40px;
    width: 90%;
    padding-right: 2vw;
    position: fixed;
    padding:2vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "a c"
      "b c"
      "b c";
}

.passwordcreator{
    grid-area: a;
    border-color: tomato;
}


.scrambler{
    grid-area: b;
    border-color: yellowgreen;
}

.storage{
    grid-area: c;
    border-color: rgb(33, 166, 255);
}

.c{
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
}

.titlecard{
    font-family: retro1;
    font-size: 1vw;
    color: #C2B28F;
    margin: 2vh;
    margin-bottom: 1vh;
}

.bodytext{
    font-family: retro2;
    color: #E4D8B4;
    font-size: 1.3vw;
    letter-spacing: 1px;
    margin-left: 2vh;
}

.output{
    display: grid;
    height: 1vh;
    width: 100%;
    margin: 1vw;
  grid-template-columns: 10vh auto;
  grid-template-rows: 5vw;
  gap: 0px 10px;
  grid-template-areas:
    "aa bb";
}

.icon{
    grid-area: aa;
    width: auto;
    height: 1vh;
    padding: 2px;
    background-color: #00000000;
    cursor: pointer;
    border: none;
}

.icon:active{
    border: none;
    opacity: 90%;
}

.outputarea{
    grid-area: bb;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    font-size: 2vw;
    font-family: retro1;
    color: #c2b28f;
    padding: 5px;
}

.body2{
    margin-top: 15px;
}

.passarea{
    height: 10vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    margin: 1vh 1vh 3vh 3vh;
}

.passwordtext{
    font-size: 2vw;
    letter-spacing: 2px;
    margin: 15px;
    font-family: retro2;
    color: #c2b28f;
    font-weight: 550;
    padding-left: 20px;
}




.submitpassword{
    width: 25.5vw;
    height: 8vh;
    background-color: rgb(77, 134, 209);
    border: none;
    display: inline-block;
    border-radius: 5px;
    margin: 5px 20px 20px 20px;
    
}

.save{
    font-family: retro1;
    color: #dad4c8;
}

.savearea{
    height: 70vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.13);
    margin: 0 2vw 2vw 2vw; 
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.submitpassword2{
    width: calc(100% - 60px);
    height: 8vh;
    background-color: rgba(130, 163, 207, 0.062);
    border: none;
    display: inline-block;
    border-radius: 5px;
    margin: 3vh;
    margin-bottom: 1vh;
    font-family: retro2;
    color: #c2b28f;
    font-weight: 550;
    font-size: 1.5vw;
    padding-left: 20px;
}

::-webkit-scrollbar-track
{
	border: none;
	background-color: #989ab32c;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #989ab32c;
}

::-webkit-scrollbar-thumb
{
	background-color: #12141db0;	
}



.length{
    background-color: rgba(126, 154, 192, 0.459);
    border: solid 1px gold;
    border-radius: 2px;
    font-family: retro1;
    text-align: center;
    color: greenyellow;
    margin-left: 5px;
    margin-right:5px;
}

.length::placeholder{
    color: rgba(255, 255, 255, 0.596);
}

.erase{
    margin-top: 0px;
}

.list{
    font-family: retro2;
    color: #e4d8b4;
    padding-left: 30px;
    
    font-size: 4vh;
}

li{
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 30px 0 0;
    overflow-y: hidden;
    overflow-x: scroll;
    
}

li::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    height: 0px;
}
/* Optional: show position indicator in red */
li::-webkit-scrollbar-thumb {
    background: #00000000;
    width: 0px;
    height: 0px;
}